* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-left: auto;
    margin-right: auto;
}

div.header1 {
    text-align: left;
}

div.header2 {
    text-align: right;
}

div.header2 a:hover {
    color: #900;
}

nav {
    clear: both;
    background-color: aquamarine;
    width: auto;
    height:35px;
}
nav div ul li{
    display: inline;
}
nav div ul{
    float:left;
}
nav div.NavSearch {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav a {
    color: brown;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}